<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="riddle-content" class="stage1-container">
        <script th:src="@{/js/stage1.js}"></script>

        <div class="scale-wrapper">
            <div class="scale-base"></div>
            <div id="scale-arm" class="scale-arm">
                <div class="pan left-pan drop-zone" id="pan-left"></div>
                <div class="pan right-pan drop-zone" id="pan-right"></div>
            </div>
        </div>

        <div class="item-area drop-zone" id="item-storage">
            <p class="area-instruction" th:text="#{stage1.instruction}">Select items...</p>
            
            <div th:each="item : ${scaleItems}"
                class="draggable-item"
                th:classappend="${item.cssClass}"
                draggable="true"
                th:data-weight="${item.weight}"
                th:text="${item.name}">
            </div>
        </div>
    </div>
</body>
</html>