<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="riddle-content" class="stage1-container">
        <script th:src="@{/js/stage1.js}"></script>

        <div class="scale-wrapper">
            <div class="scale-base"></div>
            <div id="scale-arm" class="scale-arm">
                <div class="pan left-pan drop-zone" id="pan-left"></div>
                <div class="pan right-pan drop-zone" id="pan-right"></div>
            </div>
        </div>

        <div class="item-area drop-zone" id="item-storage">
            <p class="area-instruction" th:text="#{stage1.instruction}">Select items...</p>
            
            <div class="draggable-item item-box" draggable="true" data-weight="50">📦</div>
            <div class="draggable-item item-water" draggable="true" data-weight="50">💧</div>
            <div class="draggable-item item-gold" draggable="true" data-weight="40">💰</div>
            <div class="draggable-item item-rock" draggable="true" data-weight="30">🪨</div>
            <div class="draggable-item item-tool" draggable="true" data-weight="20">🔧</div>
            <div class="draggable-item item-feather" draggable="true" data-weight="10">🪶</div>
        </div>
    </div>
</body>
</html>