<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Enigma</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/timer.js}"></script>
</head>
<body>

    <div class="container">
        
        <div th:if="${riddle != null}">
            <div class="game-header">
                <h3><span th:text="#{label.user}">User</span>: <span th:text="${user.id.substring(0,8)}">ID</span>...</h3>
                <p class="timer"><span th:text="#{label.time}">Time</span>: <span id="timer-val" th:text="${progress?.totalElapsedSeconds}">0</span>s</p>
            </div>
            <hr>

            <div th:if="${message}" class="alert" th:classappend="${alertClass}">
                <span th:text="${message}">Message</span>
            </div>

            <h1><span th:text="#{label.stage}">Stage</span> <span th:text="${progress.currentStageId}">1</span></h1>
            
            <div class="riddle-box">
                <div th:replace="~{'fragments/stage' + ${progress.currentStageId} :: riddle-content}"></div>
            </div>

            <form th:action="@{/play/answer}" th:object="${answerForm}" method="post" class="answer-form">
                <input type="hidden" id="answer-input" th:field="*{answer}">
                <button id="submit-btn" class="btn btn-answer" th:text="#{btn.answer}">
                    ANSWER
                </button>
            </form>

            <div class="game-footer">
                <a th:href="@{/}" class="footer-home" th:text="#{label.home}">↩ home</a>
                <div class="footer-center">
                    <details class="hint-box">
                        <summary class="hint-icon" th:text="#{label.hint}">Hint</summary>
                        <div class="hint-content">
                            <span th:text="${riddle.hint}">Hint Text</span>
                        </div>
                    </details>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/complete :: complete-content}"></div>
    </div>

</body>
</html>